$color-dark-s: #767676;
$color-dark-m: #555555;
$color-dark-xl: #1b1b1b;
$color-light-m: #f6f6f6;

.mini-game-page {
  margin: 0px auto;
  padding: 20px 0;
  max-width: 1000px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 100;
  text-align: center;
  color: #767676;

  @media screen and (max-width: 420px) {
    padding: 10px 10px;
  }

  @media screen and (max-width: 768px) {
    padding: 15px 20px;
  }

  @media screen and (max-width: 555px) {
    min-height: 100%;
  }

  .mini-game-page__main {
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 420px) {
      margin-bottom: 20px;
    }
  }

  .mini-game-page__title {
    margin-bottom: 50px;
    padding: 0px 40px;
    font-size: 60px;
    font-weight: 100;
    line-height: 70px;
    text-transform: uppercase;
    background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
      url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;

    &_in-game {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 70px;
      font-size: 40px;
      padding: 0px 20px;
    }

    @media screen and (max-width: 420px) {
      margin-top: 70px;
      font-size: 30px;
      padding: 0px 20px;
    }


  }

  .mini-game-page__sub-title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 100;

    @media screen and (max-width: 420px) {
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  .mini-game-page__timer-text {
    padding: 10px;
    width: 70px;
    height: 70px;
    margin-bottom: 50px;
    background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
      url('/src/assets/img/svg/corner-right-top.svg') top right no-repeat,
      url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat,
      url('/src/assets/img/svg/corner-left-bottom.svg') bottom left no-repeat;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
  }

  .mini-game-page__text {
    font-size: 36px;
    line-height: 50px;

    @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 40px;
    }
    
    @media screen and (max-width: 420px) {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__button {
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px solid #dfdfdf;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $color-dark-s;
    font-family: 'Roboto';
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: all 0.1s;
    }

    &:active {
      color: $color-dark-xl;
      font-weight: 300;
      transition: all 0.1s;
    }
  }

  .button-container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .button-container__text {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;

      @media screen and (max-width: 420px) {
        font-size: 25px;
        line-height: 30px;
      }
    }
  }

  .selector-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    @media screen and (max-width: 420px) {
      gap: 30px;
    }

    .selector-container__button {

      border: none;
      background: url('/src/assets/img/svg/corner-left-bottom.svg') bottom left no-repeat,
        url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
        font-weight: 100;
      font-family: 'Roboto';
      text-transform: uppercase;
      color: $color-dark-s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: all 0.1s;
      }

      &_active {
        background: url('/src/assets/img/svg/corner-left-bottom.svg') bottom left no-repeat,
          url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat,
          url('/src/assets/img/svg/corner-right-top.svg') top right no-repeat,
          url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat;
      }

      &:active {
        color: $color-dark-xl;
        font-weight: 300;
        transition: all 0.1s;
      }

      &_level {
        width: 50px;
        height: 50px;
        font-size: 48px;
        line-height: 50px;
      }

      &_page {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
}
