.configs {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #767676;

  .configs__title {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0 30px;
    font-weight: 100;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    background: url('/src/assets/img/svg/corner-left-top.svg') top left no-repeat,
    url('/src/assets/img/svg/corner-right-bottom.svg') bottom right no-repeat;
  }

  .configs__group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .navigation-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .configs__play {
    border: 1px solid #767676;
    background-image: url('/src/assets/img/svg/icon-audio.svg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 62px;
    width: 62px;
    background-color: white;
  
    &:hover {
      transform: scale(1.1);
      transition: all 0.1s;
    }
  }
}

@media screen and (max-width: 640px) {
  .configs {
    margin: 0 10px;
    .configs__title {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 420px) {
  .configs {
    margin: 0 10px;
    .configs__title {
      font-size: 24px;
    }
  }
}